body {
   background-image: url("./front_bg.jpg");
   background-size: 100%;
   background-repeat: no-repeat;
   } 

img.logo {
   display: block;
   margin-right: auto;
   margin-left: auto;
   }
p {
   color: #000044;
   font-family: Myriad Pro, Myriad Web Pro Regular, Lucida Grande, Geneva, Trebuchet MS, sans-serif;
   font-weight: bold;
   font-size: 1.2em;
   height: 40px;
   padding-bottom: 0;
   padding-left: 0;
   padding-right: 0;
   padding-top: 10px;
   text-align: center;
}
h1 {
   color: #000044;
   font-family: Myriad Pro, Myriad Web Pro Regular, Lucida Grande, Geneva, Trebuchet MS, sans-serif;
   font-weight: bold;
   font-size: 1.5em;
   height: 40px;
   padding-bottom: 0;
   padding-left: 0;
   padding-right: 0;
   padding-top: 10px;
   text-align: center;
   }
